click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.3
Flask-OAuth==0.12
Flask-SQLAlchemy==2.2
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
oauth2==1.9.0.post1
olefile==0.44
passlib==1.7.1
Pillow==4.3.0
pyparsing==2.2.0
recordtype==1.1
redis==2.10.6
six==1.11.0
SQLAlchemy==1.1.11
svgwrite==1.1.11
Tree==0.2.3
urllib3==1.26.5
urlparse2==1.1.1
Werkzeug==0.12.2
